# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Node
node_modules/
.npm
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
venv/


# pdf
*.pdf